#search-input {
    border-bottom-color: black;
    margin-left: 2.5%;
    margin-top: 10pt;
    width: 75%;
    height: 80pt;
    font-size: 20pt;
    text-align: center;
}

#search-button {
    border-bottom-color: black;
    margin-left: 2.5%;
    margin-top: 10pt;
    width: 17.5%;
    height: 80pt;
    font-size: 20pt;
}

#search-result-container {
    width: 100%;
    float: left;
}

.search-result-item {
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 21.875%;
    background: rgba(0, 0, 255, 0.2);
    height: 250pt;
    align-content: center;
    float: left;
}

.search-result-item-image {
    height: 70%;
}
.search-result-item-link {
    margin-left: 10pt;
    margin-top: 10pt;
}

.search-result-item-adapter {
    margin-left: 10pt;
    margin-top: 10pt;
    font-size: 15pt;
}